* {
  border: 0;
  margin: 0;
  padding: 0;
  background: black;
}

#wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  /* background: black; */
}

#text {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font: 6em 'Roboto Slab';
  line-height: 1.05em;
  font-weight: 700;
  text-align: center;
  color: white;
  /* margin-top: 200px; */
}

span {
  position: relative;
  /*if we remove this, this animation right side*/
}

span:nth-child(1) {
  color: #ed8600;
}

span:nth-child(2) {
  color: #ed5700;
}

span:nth-child(3) {
  color: #ed3700;
}

#bg {
  height: 100vh;
  width: 100%;
}


.our-text {
  margin: 50px;
  font-family: sans-serif;
  font-size: 48px;
  text-align: center;
  color: #ed3700;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.our-text1 {
  margin: 120px;
  font-family: sans-serif;
  font-size: 48px;
  text-align: center;
  color: #ed5700;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  .our-text {
    font-size: 32px;
    margin: 20px;
  }

  .our-text1 {
    font-size: 32px;
    margin: 60px;
  }

}